# Frontend API endpoints
VITE_API_URL=http://localhost:4000
VITE_GRAPHQL_URL=http://localhost:4000/graphql
VITE_WS_URL=ws://localhost:4000/graphql
VITE_IMAGE_URL=http://localhost:4000/img

# Web Push (VAPID)
VITE_VAPID_PUBLIC_KEY=your_public_vapid_key

